.schedule {
    th {
        color: #000
    }
    position: relative;
    min-height: 100vh;
    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        background: url('../../images/pattern.png') repeat center center rgba(0, 0, 0, 0.7);
    }
    .section-cate {
        position: relative;
        z-index: 111;
        padding: 100px 0;
        .boxed {
            display: block;
            box-shadow: 0 30px 50px 0 rgba(1, 1, 1, 0.18);
            padding: 8rem 4rem 8rem;
            background: linear-gradient(135deg, rgb(106, 141, 138) 0%, #723e3e 100%);
            padding: 2rem;
            border-radius: 10px;
            .section-title h3 {
                color: #000;
                font-weight: 700;
                font-size: 36px;
                text-transform: uppercase;
                margin: 0;
                text-align: center;
            }
            .cate-top {
                margin-bottom: 30px;
                padding: 20px 0;
                width: 100%;
                .left-text {
                    p {
                        color: rgb(71, 13, 13);
                        font-size: large;
                    }
                }
                .right-text {
                    .dropdown {
                        margin: 0 10px;
                    }
                }
            }
            .pagination {
                display: flex;
                justify-content: center;
                margin: 20px 0;
                //text color
                a {
                    color: #000;
                }
                .page-item.active .page-link {
                    background-color: black;
                    color: #fff; //text color
                }
                .page-item.active .page-link:hover {
                    background-color: #fff;
                    color: #000;
                }
                //on disabled
                .page-item.disabled .page-link {
                    background-color: transparent;
                    color: #000;
                }
                //on focus
                .page-link:focus {
                    background-color: transparent;
                    color: #000;
                }
                .page-link:hover {
                    background-color: #fff;
                    color: #000;
                }
            }
        }
    }
}