.footer {
    position: relative;
    width: 100%;
    section.mb-4 button,
    #copyBtn {
        width: 5vh !important;
        max-width: 100% !important;
        max-height: 100% !important;
        height: 5vh !important;
        text-align: center;
        padding: 0px;
    }
    section.mb-4 button {
        border-radius: 50%;
    }
}