.course-detail {
    tr,
    th,
    td {
        text-align: center;
        vertical-align: middle;
        color: white;
    }
    position: relative;
    min-height: 100vh;
    background-image: linear-gradient(rgb(71, 58, 30), rgb(175, 175, 175));
    .section-detail {
        position: relative;
        z-index: 11;
        padding: 100px 0;
        .course-image {
            img {
                width: 100%;
            }
            margin: 20px;
        }
        .course-desc {
            h3,
            h5 {
                color: rgb(255, 255, 255);
                text-transform: uppercase;
                margin: 5px 0 25px;
                text-align: center;
            }
            .desc {
                min-height: 200px;
                color: rgb(255, 255, 255);
                margin: 10px;
            }
            .course-meta {
                width: 100%;
                position: relative;
                margin: 30px 0;
                padding: 30px 0;
                color: #f6f6f6;
                .cate {
                    margin: 10px;
                }
            }
        }
        .comment-box {
            border: 1px solid #eee;
            padding: 3rem;
            margin-top: 6rem;
            display: block;
            .small-title {
                color: #000;
                font-size: 20px;
                padding: 0 0 30px;
                margin: 0;
                line-height: 1;
            }
        }
    }
}