.course-square {
    * {
        margin: 0;
        padding: 0;
    }
    .course-box {
        border-radius: 6px 6px;
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        inline-size: 100%;
        overflow-wrap: break-word;
        .image-wrap {
            img {
                width: 100%;
                &:hover {
                    transform: scale(1.2);
                    transition: all 0.5s ease;
                }
            }
        }
        .course-details {
            .course-fullname {
                .title {
                    font-size: 25px;
                    padding: 0 0 1rem;
                    font-weight: 700;
                    margin: 0;
                }
                &:hover {
                    .title {
                        transition: all 0.5s ease;
                        color: #01bacf;
                        cursor: pointer;
                    }
                }
            }
            padding: 2rem 2rem;
        }
        .course-footer {
            padding: 1rem 1rem;
            background-color: #f9f9f9;
            border-top: 1px solid #eaeaea;
            border-radius: 0 0 6px 6px;
            border-top: 1px solid #eaeaea;
            p {
                // font-size: 15px;
            }
        }
    }
}