.cate-square {
    .cate-box {
        border-radius: 6px 6px;
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        .image-wrap {
            img {
                width: 100%;
                &:hover {
                    transform: scale(1.2);
                    transition: all 0.5s ease;
                }
            }
        }
        .cate-details {
            h4 {
                .title {
                    color: #000;
                }
                font-size: 25px;
                padding: 0 0 1.5rem;
                font-weight: 700;
                margin: 0;
                &:hover {
                    .title {
                        transition: all 0.5s ease;
                        color: #01bacf;
                    }
                }
            }
            padding: 3rem 2rem;
            p {
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
        .cate-footer {
            display: inline-block;
            width: 100%;
            padding: 1.5rem 2rem;
            background-color: #f9f9f9;
            border-top: 1px solid #eaeaea;
            border-radius: 0 0 6px 6px;
            border-top: 1px solid #eaeaea;
            padding: 15px;
            .pull-left {
                float: left;
            }
            // .pull-right {
            //     float: right;
            // }
        }
    }
}