#home {
    .main-bg {
        position: relative;
        background-image: url('../../images/home-bg.jpeg');
        height: 100vh;
        background-position: center center;
        .overlay {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 1;
            background: url('../../images/pattern.png') repeat center center rgba(0, 0, 0, 0.7);
        }
        .home-text-wrapper {
            display: table;
            width: 100%;
            height: 100%;
            max-width: 900px;
            position: relative;
            text-align: center;
            z-index: 11;
            .home-message {
                display: table-cell;
                height: 100%;
                vertical-align: middle;
                p {
                    font-size: 54px;
                    color: #ffffff;
                    padding: 0;
                    margin: 0;
                    font-weight: 700;
                }
                small {
                    font-size: 16px;
                    font-family: 'Droid Serif', sans-serif;
                    font-style: italic;
                    display: block;
                    padding: 20px 0 35px;
                    margin: 0;
                }
            }
        }
        .slider-bottom {
            position: absolute;
            bottom: 40px;
            left: 0;
            font-size: 10px;
            text-transform: uppercase;
            color: #ffffff;
            letter-spacing: 3px;
            z-index: 11;
            right: 0;
            margin: auto;
            text-align: center;
            svg {
                display: inline-block;
                font-size: 40px;
                padding: 10px;
            }
        }
    }
    .section-2 {
        background-color: #f6f6f6;
        position: relative;
        .section-title h3 {
            color: #000;
            font-weight: 700;
            font-size: 36px;
            text-transform: uppercase;
            margin: 0;
            padding: 0;
            text-align: center;
            padding: 40px 0;
        }
        .section-title {
            margin-bottom: 45px;
        }
        .outer-slider {
            //for slider
            padding: 0 10px;
        }
        .section-button {
            padding: 20px
        }
    }
}