.comment-item-box {
    border: 1px solid #eee;
    padding: 1rem;
    margin: 2rem;
    .time {
        font-size: large;
    }
    .user-avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            max-width: 80px;
            border-radius: 50%;
        }
    }
    .user-name {
        font-size: x-large;
        color: azure;
        margin: 0;
    }
    .rating-star {
        color: #f1c40f;
        font-size: 18px;
    }
}