.register {
    .main-bg {
        position: relative;
        background-image: url('../../images/home-bg.jpeg');
        // background-color: white;
        height: auto;
        background-position: center center;
        .overlay {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 1;
            background: url('../../images/pattern.png') repeat center center rgba(0, 0, 0, 0.7);
        }
        .container {
            position: relative;
            z-index: 2;
            // width: 80vw;
            margin: auto;
            padding: 80px 0;
            .divider {
                &:after {
                    content: "";
                    flex: 1;
                    height: 1px;
                    background: #eee;
                }
                &:before {
                    content: "";
                    flex: 1;
                    height: 1px;
                    background: #eee;
                }
            }
            .register-img {
                height: 100%;
                background-image: url('../../images/register-bg.jpg');
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
}